@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h2 class="text-lg center-block">Stock Management System</h2>
</div>

<div class="row bg-light bg-info">
    <div class="col-12"> <p></p> </div>
    <div class="col-md-4">
        <div class="well">
            <h4 class="card-title">Check all of previous invoices </h4>
            <p><a class="card-link" href="~/Sale/Index">Sale Invoices</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Create Invoice for selling to customer </h4>
            <p><a href="~/Sale/CreateSaleInvoice">Create Sale Invoice</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Check all the items thaat available in stockk </h4>
            <p><a href="~/Stock/Index">Stocks Available</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Add a new product to your Stock</h4>
            <p><a href="~/Stock/Create">Add to Stock</a></p>
        </div>
    </div>

    <!--Should come in second row-->
    <div class="col-md-4">
        <div class="well">
            <h4>Check yourprofit and Loss statement</h4>
            <p><a href="~/ProfitAndLoss/Index">Profit and Loss Statement</a></p>
        </div>
    </div>

</div>